detectors:
  armnn:
    type: armnn

model:
  width: 320
  height: 320

record:
  enabled: true
  events:
    retain:
      default: 10
      mode: motion

ffmpeg:
  hwaccel_args: -hwaccel drm -hwaccel_device /dev/dri/renderD128 -c:v h264_rkmpp_decoder -vcodec h264_rkmpp_decoder

snapshots:
  enabled: True

detect:
  enabled: True # <---- disable detection until you have a working camera feed
  width: 1280 # <---- update for your camera's resolution
  height: 720 # <---- update for your camera's resolution